doctype html
html
  head
    title 
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/animate.css')
    link(rel='stylesheet', href='/stylesheets/owl.carousel.css')
    link(rel='stylesheet', href='/stylesheets/component.css')
    link(rel='stylesheet', href='/stylesheets/slit-slider.css')
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel='stylesheet', href='/stylesheets/media-queries.css')
    link(rel='shortcut icon', type='image/x-icon', href='images/logogreen50.png')

    // Oswald / Title Font

    link(href='https://fonts.googleapis.com/css?family=Oswald:400,300', rel='stylesheet', type='text/css')
    // Ubuntu / Body Font
    
    link(href='https://fonts.googleapis.com/css?family=Ubuntu:400,300', rel='stylesheet', type='text/css')
    // Modernizer Script for old Browsers

    script(src='javascripts/modernizr-2.6.2.min.js')
    // Essential Scripts
    // Main jQuery

    script(src='javascripts/jquery-1.11.0.min.js')
    // Bootstrap 3.1

    script(src='javascripts/bootstrap.min.js')
    // Slitslider

    script(src='javascripts/jquery.slitslider.js')
    script(src='javascripts/jquery.ba-cond.min.js')
    // Parallax

    script(src='javascripts/jquery.parallax-1.1.3.js')
    // Owl Carousel
    
    script(src='javascripts/owl.carousel.min.js')

    // Portfolio Filtering

    script(src='javascripts/jquery.mixitup.min.js')

    // Custom Scrollbar

    script(src='javascripts/jquery.nicescroll.min.js')
    script(src='javascripts/jquery.appear.js')
    script(src='javascripts/easyPieChart.js')
    script(src='javascripts/jquery.easing-1.3.pack.js')
    
    // Remove this for now
     script(src='javascripts/tweetie.min.js')
    
    // Google Map API
    
    script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAyrbPagdycRa0D-IJz1V_y8p4L4ZqZX7Y')
    
    // from google below. Do I need async='' and the callback? 
    //script (type="text/javascript", async, defer, src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAyrbPagdycRa0D-IJz1V_y8p4L4ZqZX7Y&callback=initMap")
    // Highlight menu item

    script(src='javascripts/jquery.nav.js')
    // Sticky Nav

    script(src='javascripts/jquery.sticky.js')
    // Number Counter Script

    script(src='javascripts/jquery.countTo.js')
    // wow.min Script

    script(src='javascripts/wow.min.js')
    // For video responsive

    script(src='javascripts/jquery.fitvids.js')
    // Grid js

    script(src='javascripts/grid.js')
    // Custom js

    script(src='javascripts/custom.js')
    // Dictionary js
    
    script(src='javascripts/dictionary.js')
    // Js to handle members related js
    
    script(src='javascripts/handle_members.js')
    script(src='javascripts/handle_contact.js')
  body
    block content